h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-list-item {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
