ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 16px;
}

.page-title {
    font-size: 5rem;
    margin: 3rem 0 3rem 0;
}

.page-subtitle {
    font-size: 2rem;
}

.page-subtitle > i {
    font-size: 3rem;
}

.fancy-font {
    font-family: 'Great Vibes', cursive;
}

.page-subtitle > img {
    max-height: 72px;
}

.phone-number {
    margin-top: 12px;
    font-size: 1.2em;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}
.scissors-2 {
    transform: rotate(180deg);
}

.price-disclaimer {
    font-size: 1rem;
}

footer {
    margin-top: 40px;
}
